<h1 class="page-title">Gate Automation</h1>

<table>
    <caption>Current Settings</caption>
    <tbody>
        <tr>
            <th>Time on gate</th>
            <td>{{DeviceTime}}</td>
        </tr>
    </tbody>
</table>

<div class="block-actions">
    <ul>
        <li><a id="open-action" href="/api/gate/open">Open gate</a></li>
    </ul>
</div>
