html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px auto;
    padding: 0 0 60px 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 60px 0 0 0;
}
    
body > footer {
    height: 60px;
    background-color: #f5f5f5;
}

body > footer p {
    margin: 20px 0;
    padding: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}