<h1 class="page-title">Gate Automation</h1>

{{#each gates}}
    <div class="object-card">
        <h2 class="card-title">{{name}}</h2>
        <div class="card-body">
            Address: {{addess}}
        </div>
    </div>
{{/each}}


<div class="block-actions">
    <ul>
        <li><a href="/gates/add">Add a new Gate</a></li>
    </ul>
</div>
